body {
	background: black;
	color: white;
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 16;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
header img {
	height: 20px;
	margin-left: 20px;
}
header button {
	background: none;
	border: none;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin-right: 20px;
	font-size: 3rem;
	bottom: 2px;
	font-family: "Roboto Condensed";
}

header .menu-bar::before {
	content: "=";
	font-size: 3rem;
	font-weight: lighter;
}

.menu-bar.active::before {
	content: "x";
	transform: scaleY(0.7);
}
.menu-bar.active::after {
	transform: translate(0,-11px) rotateX(45deg);
	position: absolute;
}
.navScreen {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: white;
	z-index: 15;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	visibility: hidden;
}
.navScreen.active {
	visibility: visible;
}
.navScreen .actions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 17rem;
}
.actions a {
	text-align: center;
	font-size: 1.1rem;
	font-family: "Roboto Condensed";
	font-weight: bold;
	letter-spacing: 1px;
}
.navScreen .social-medias {
	margin-bottom: 20px;
}
.navScreen button {
	background: none;
	padding: 9px;
	width: 160px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 0px;
	font-size: 1.1rem;
	color: white;
	font-family: "Roboto Condensed";
}
a:not(.active) {
	color: rgba(255,255,255,0.4);
	text-decoration: none;
}
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	flex-direction: column;
}
footer img {
	height: 30px;
}
footer p {
	font-size: 0.7rem;
	font-family: "Roboto Condensed";
}
.hero {
	margin-top: 60px;
}
.hero video {
	width: 100%;
}
.hero h2, .link h2 {
	text-align: center;
	font-family: "Roboto Condensed";
	font-weight: bold;
	font-size: 1.1rem;
	letter-spacing: 1.5px;
	text-decoration: underline;
	padding-bottom: 2px;
}
.works .card p {
	font-family: "Roboto Condensed";
	font-size: 0.9rem;
	text-align: center;
	margin: 3px;
	letter-spacing: 0.5px;
}
.works .card {
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 300px;
}
.works .card .card-img {
	width: 140px;
	height: 210px;
}
.works {
	display: flex;
	overflow-x: auto;
	gap: 7.5px;
	scrollBar-width: none;
	margin: 0px 20px;
}
.link button {
	border: 2px solid white;
	background: none;
	color: white;
	font-family: "Roboto Condensed";
	border-radius: 0px;
}
	
.links-action {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 60px);
	grid-template-areas: 
	"x yt"
	"recruit recruit"
	"recruit recruit";
}
#x {
	grid-area: x;
	font-size: 1.1rem;
	font-weight: bold;
}
#yt {
	grid-area: yt;
	font-weight: bold;
	border: 2px solid red;
	color: red;
	font-size: 1.1rem;
}
#recruit {
	grid-area: recruit;
	font-weight: bold;
	font-size: 2rem;
	border: 2px solid #00FFBF;
	color: #00FFBF
}
.link {
	margin: 20px;
}

#csm {
	background-image: url(csm.jpeg);
	background-size: cover;
}
#jjk {
	background-image: url(jjk.jpeg);
	background-size: cover;
}
#hellsparadise {
	background-image: url(hellsparadise.jpeg);
	background-size: cover;
}
#anime8 {
	background-image: url(anime8.jpeg);
	background-size: cover;
}
#campfire {
	background-image: url(campfire.webp);
	background-size: cover;
}
#csmreze {
	background-image: url(csmreze.jpeg);
	background-size: cover;
}
#lazarus {
	background-image: url(lazarus.png);
	background-size: cover;
}
#links {
	color: white;
}
#yt-links {
	color: red;
}

